body{
  margin: 0px;
}
#first{
  height: 100vh;
  background-image: url("https://wallpaperset.com/w/full/3/5/8/67290.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#second{
  height: 100vh;
  background-image: url("https://images4.alphacoders.com/242/242406.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}
.enter{
  font-family: 'Metal Mania', cursive;
  text-align: center;
  cursor: pointer;
  position: absolute;
  color: whitesmoke;
  top: 80%;
  left: 45%;
  font-size: 70px;
  background-color: transparent;
  border: none;
  animation: letter-flicker 3s linear infinite;
  filter: brightness(500%);
}


@keyframes letter-flicker {
    2% { 
    color: rgb(23, 21, 46);
    text-shadow: 0 0 15px rgb(12, 3, 39);
  }
  3% {
    color: rgba(22, 22, 37, 0.5);
    text-shadow: none;
  }
  6% {
    color: rgb(23, 3, 95);
    text-shadow: 0 0 15px rgb(19, 16, 32);
  }
  9% {
    color: rgba(120, 0, 50, .5);
    text-shadow: none;
  }
  11% {
    color: rgb(60, 58, 158);
    text-shadow: 0 0 15px rgb(35, 12, 97);
  }
  14% {
    color: rgba(120, 0, 50, .5);
    text-shadow: none;
  }
  18% {
    color: rgb(37, 20, 77);
    text-shadow: 0 0 15px rgb(35, 9, 83);
  }
  32% {
    color: rgb(0, 0, 0);
    text-shadow: 0 0 15px rgb(15, 2, 9);
  }
  33% {
    color: rgba(120, 0, 50, .5);
    text-shadow: none;
  }
  37% {
    color: rgb(41, 4, 23);
    text-shadow: 0 0 15px rgb(32, 15, 5);
  }
  39% {
    color: rgba(120, 0, 50, .5);
    text-shadow: none;
  }
  40% {
    color: rgb(24, 0, 82);
    text-shadow: 0 0 15px rgb(33, 1, 46);
  }
  100% {
    color: rgb(71, 6, 6);
    text-shadow: 0 0 15px rgb(46, 4, 26);
  }
}

#login{
  position: absolute;
  top: 60%;
  left: 45.5%;
  text-align: center;
}
p{
  font-family: 'Metal Mania', cursive;
  text-align: center;
  color: whitesmoke;
  font-size: 40px;
  border: none;
}
#loger1{
  border: none;
  border-style: solid ;
  padding: 7px;
}
#loger2{
  border: none;
  border-style: solid ;
  padding: 7px;
}
#click{
  font-family: 'Metal Mania', cursive;
  border: none;
  border-style: solid;
  font-stretch: wider;
  font-size: 30px;
}
.click{
  font-family: 'Metal Mania', cursive;
  text-align: right;
  cursor: pointer;
  position: fixed  ;
  color: whitesmoke;
  right: 2%;
  font-size: 70px;
  background-color: transparent;
  border: none;
  animation: letter-flicker 3s linear infinite;
  filter: brightness(500%);
}
#third{
  height: 93.2vh;
  background-image: url("http://getwallpapers.com/wallpaper/full/5/7/8/453397.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}
.header {
  font-family: 'Metal Mania', cursive;
  overflow: hidden;
  background-image: url('https://wallpapersprinted.com/download/2/dark_gothic_lion-wallpaper-2560x1600.jpg');
  background-color: rgb(27, 27, 27);
  padding: 10px 0px;
  position: fixed;  
  top: 0; 
  width: 100%;
  
}

.header a {
  float: left;
  color: whitesmoke;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 30px; 
  line-height: 25px;
  border-radius: 5px;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header-right {
  float: right;
}

img {vertical-align: middle;}

.slideshow-container {
  max-width: 1500px;
  position: relative;
  margin: auto;
  margin-top: 68px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0.4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: 0.4} 
  to {opacity: 1}
}
.active {
  background-color: #717171;
}
#fourth {
  height: 100vh;
  background-image: url("https://pbs.twimg.com/media/Dheb0sGUEAAsBTf.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}
#about{
  font-family: 'Metal Mania', cursive;
  text-align: center;
  color:red;
  font-size: 30px;
  position: relative;
}
#img1{
  border-radius: 50%;
  margin-top: 170px;
  margin-bottom: 170px;
  margin-left: 170px;
  position: relative;
}
#img2{
  border-radius: 50%;
  margin-top: 170px;
  margin-bottom: 170px;
  margin-left: 50%;
  position: relative;
}







